* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

#scrollWindow {
  /* height: 480px;
  width: 650px; */
  overflow: scroll;
}

.product{
  /* height: 80px; */
  /* width: 500px; */
  display: flex;
  align-items: center;
  border: solid 1px black;
}

.imageContainer > img {
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 60px;
  width: 60px;
}

